{% extends 'base.html'%}

{% block title%}
Cтраница про нас
{% endblock %}

{% block body%}
<div class = "container">
<h1>Компания Google</h1>
    <p>Google - американская многонациональная технологическая компания, специализирующаяся на интернет-услугах и продуктах. Основана в 1998 году Ларри Пейджем и Сергеем Брином.</p>
    <p>Штаб-квартира компании Google расположена в Маунтин-Вью, Калифорния.</p>
    <h2>Продукты и услуги:</h2>
    <ul>
        <li>Поисковая система Google Search</li>
        <li>Мобильная операционная система Android</li>
        <li>Видеохостинг YouTube</li>
        <!-- Другие продукты и услуги Google -->
    </ul>
    <p>В 2020 году общий доход компании составил более 182 миллиардов долларов.</p>
</div>
{% endblock %}