{% extends 'base.html'%}
{% block title %}
Главная страница
{% endblock %}

{% block body %}

<div class="e1_5"></div>
<span  class="e1_6">Welcome
</span>
</span>
  <div class="e1_7"></div><span  class="e1_8">read more
</span>
<style>
.e1_5 {
	width:1086px;
	height:447px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url(static/images/download__13__1.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 10px auto 20px;
    display: block;
}
.e1_6 {
	color:rgba(255, 255, 255, 1);
	width:493px;
	height:155px;
	position:absolute;
	left:260px;
	top:146px;

	font-family:Jomhuria;
	text-align:center;
	font-size:200px;
	letter-spacing:0;
	margin: 10px auto 20px;
    display: block;
}

.e1_7 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:332px;
	height:55px;
	position:absolute;
	left:500px;
	top:457px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	margin: 10px auto 20px;
    display: block;
}
.e1_8 {
	color:rgba(0, 0, 0, 1);
	width:254px;
	height:43px;
	position:absolute;
	left:540px;
	top:447px;
	font-family:Jomhuria;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	margin: 10px auto 20px;
    display: block;
}
</style>
{% endblock %}